.rightbottom{bottom:0;right:0;z-index:-1;}
.subscribe{position:relative;}
.newsletterbar input{padding:12px 0;height:auto;border:0;border-radius:0;font-size:18px;font-weight:300;}
.inputBar{position:relative;border-bottom:1px solid #C4C4C4;margin:20px 0 50px 0;}
.inputBar img{position:absolute;top:-50px;right:-233px;max-width:240px;}
.newsinner{max-width:770px;}

